.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.numberBox{
  height: 10vh;
  display: flex;
  flex-direction: rox;
  align-items: center;
  justify-content: center;
}
.number{
  height: 10vh;
  width: 100px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border: 2px solid black;
  margin: 5px;
  border-radius: 5px;
}
.number:hover{
  cursor: pointer;
  /* background-color: aqua; */
}
.bigerBox{
  height: 450px;
  width: 450px;
  /* border: solid black; */
  /* border-radius: 10px; */
}
.rowDivisons{
  display: flex;
  flex: row;
}
.smallBox{
  height: 150px;
  width: 150px;
  /* border: solid black; */
  /* border-radius: 10px; */
}
.smallerRowDivison{
  display: flex;
  flex: row;
}
.boxes{
  height: 48px;
  width: 50px;
  border: solid black 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box1{
  border-top-left-radius: 10px;
}
.box9{
  border-top-right-radius: 10px;
}
.box2{
  border-bottom-left-radius: 10px;
}
.box3{
  border-bottom-right-radius: 10px;
}
.starter{
  margin: 10px;
  height: 60px;
  width: 120px;
  font-size: larger;
}
.starter:hover{
  cursor: pointer;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
}
@media screen and (max-width : 800px) {
  .bigerBox{
    height: 270px;
    width: 270px;
  }
  .smallBox{
    height: 90px;
    width: 90px;
  }
  .boxes{
    height: 28px;
    width: 30px;
  }
  .number{
    width: 25px;
    height: 5vh;
  }
  .numberBox{
    margin-top: 10px;
  }
  h1{
    margin-top: 25px;
    font-size: 1.5rem;
  }
  .starter{
    width: 60px;
    height: 30px;
    font-size: large;
  }
}